.component2Child {
  top: -0.23%;
  bottom: 99.77%;
}
.component2Child,
.component2Child1,
.component2Child2,
.component2Child3,
.component2Inner,
.lineDiv {
  position: absolute;
  height: 0.46%;
  width: 100.3%;
  right: -0.15%;
  left: -0.15%;
  border-top: 1px solid var(--color-gray-100);
  box-sizing: border-box;
}
.component2Inner {
  top: 20.32%;
  bottom: 79.22%;
}
.lineDiv {
  top: 39.95%;
  bottom: 59.59%;
}
.component2Child1 {
  top: 59.59%;
  bottom: 39.95%;
}
.component2Child2 {
  top: 80.59%;
  bottom: 18.95%;
}
.component2Child3 {
  top: 99.77%;
  bottom: -0.23%;
}
.sun2Icon,
.sun3Icon {
  position: absolute;
  height: 13.7%;
  width: 8.96%;
  top: 23.74%;
  right: 45.97%;
  bottom: 62.56%;
  left: 45.07%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.sun3Icon {
  top: 42.92%;
  bottom: 43.38%;
}
.friday {
  position: absolute;
  height: 9.13%;
  width: 32.54%;
  left: 0;
  font-size: var(--font-size-xl);
  display: flex;
  align-items: center;
}
.monday {
  top: 5.48%;
}
.monday,
.thursday,
.tuesday,
.wednesday {
  position: absolute;
  height: 9.13%;
  width: 32.54%;
  left: 0;
  font-size: var(--font-size-xl);
  display: flex;
  align-items: center;
}
.tuesday {
  top: 26.03%;
}
.wednesday {
  top: 45.21%;
}
.thursday {
  top: 65.3%;
}
.friday {
  top: 85.84%;
}
.cloud1Icon {
  top: 3.2%;
  bottom: 83.11%;
}
.cloud1Icon,
.rain1Icon,
.snowflake1Icon {
  position: absolute;
  height: 13.7%;
  width: 8.96%;
  right: 45.97%;
  left: 45.07%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rain1Icon {
  top: 63.93%;
  bottom: 22.37%;
}
.snowflake1Icon {
  top: 83.56%;
  bottom: 2.74%;
}
.div {
  top: 5.02%;
  left: 73.73%;
}
.div,
.div1,
.div2 {
  position: absolute;
  height: 10.05%;
  width: 11.64%;
  display: flex;
  align-items: center;
}
.div1 {
  top: 5.02%;
  left: 88.36%;
  color: var(--color-darkgray);
}
.div2 {
  top: 25.57%;
}
.div2,
.div3,
.div4 {
  left: 88.36%;
  color: var(--color-darkgray);
}
.div3 {
  position: absolute;
  height: 10.05%;
  width: 11.64%;
  top: 44.75%;
  display: flex;
  align-items: center;
}
.div4 {
  top: 64.84%;
}
.div4,
.div5,
.div6,
.div7,
.div8,
.div9 {
  position: absolute;
  height: 10.05%;
  width: 11.64%;
  display: flex;
  align-items: center;
}
.div5 {
  top: 85.39%;
  left: 88.36%;
  color: var(--color-darkgray);
}
.div6 {
  top: 25.57%;
}
.div6,
.div7,
.div8,
.div9 {
  left: 73.73%;
}
.div7 {
  top: 44.75%;
}
.div8 {
  top: 64.84%;
}
.div9 {
  top: 85.39%;
}
.component2 {
  position: absolute;
  top: 422px;
  left: 63px;
  width: 335px;
  height: 219px;
}
.night,
.nightChild {
  height: 844px;
  overflow: hidden;
}
.nightChild {
  position: absolute;
  top: 0;
  left: -1175px;
  background-color: var(--label-color-dark-primary);
  width: 424px;
}
.night {
  position: relative;
  background: linear-gradient(18.04deg, #223076, #06050e);
  width: 100%;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--label-color-dark-primary);
  font-family: var(--font-roboto);
}
